<h1 class="title">New Tweets</h1>

<div class="form-container">
  <%= render "form", tweet: @tweet %>
</div>

<div class="actions">
  <%= link_to "Show this Tweet", @tweet, class: "btn" %>
  <%= link_to "Back to Tweets", tweets_path, class: "btn" %>
</div>

